.tables tr{
    marign: 0;
    padding: 0;
}
#box {
    padding-top: 50px;
    width: 500px;
    margin: 0 auto;
}
.tables {
    border-collapse: collapse;
    text-align: center;
}
.tables td{
    width: 200px;
    border: 1px solid #000;
    padding: 5px;
}
.tables tr:first-child td{
    width: 200px;
    background: #ccc;
}
.tables .sort-bnt {
    margin-top: -4px;
    position: absolute;
    margin-left: 15px;
    display: inline-block;
}
.sort-bnt div {
    width: 0;
    height: 0;
    cursor: pointer;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.sort-bnt div.top{
    margin-bottom: 5px;
    border-bottom: 10px solid black;
}
.sort-bnt div.bottom{
    border-top: 10px solid black;
}
.fixed {
    width: 501px;
    position: fixed;
    top: 0;
}
