*{
    font-family: "microsoft yahei";
    margin:0;
    padding:0;
}
header {
    height:57px;
    width:1280px;
    min-width:1280px;
    margin:0 auto;
}

.logo {
    float:left;
    width:90px;
    height: 57px;
    margin-left:5%;
    padding-left:40px;
    line-height: 57px;
    font-family: "黑体";
    font-size:24px;
    background: url(../img/logo.png) no-repeat center left;
    background-size: 35px 35px;
}

nav {
    float:right;
    height:54px;
    line-height:54px;
    margin-right:5%;
}
nav li{
    display:inline-block;
}
nav li:first-child{
    border-bottom:3px solid #e74f4d;
}
nav li a{
    padding:0 16px;
    display:inline-block;
    height:54px;
    color:#787b83;
    text-decoration: none;
}
nav li a:hover{
    border-bottom:3px solid #e74f4d;
    color:#e74f4d;
}
.log{
    background:url(../img/log.png) no-repeat;
    background-position:0 19px;
}
.log a{
    color:#e74f4d;
}
.main{
    min-width:1280px;
}
.banner{
    height:690px;
    min-width:1280px;
    background:url(../img/tu1.png) no-repeat center;
    background-attachment:fixed;
    background-size:cover;
}
.banner>.content{
    padding-left:8%;
    padding-top:230px;
}
.banner>.content h1{
    font-family:"arial";
    font-size:60px;
    color:#fff;
}
.banner>.content p{
    margin-left:10px;
    margin: 12px 0 12px 12px;
    font-size:18px;
    color:#fff;
}
botton.tiyan{
    display:inline-block;
    width:330px;
    height:63px;
    line-height:63px;
    margin-left:12px;
    text-align:center;
    background:#e74f4d;
    font-size:31px;
    color:#fff;
    cursor:pointer;
}
.jianjie {
    height:250px;
    width:1280px;
    margin:0 auto;
    text-align:center;
}
.jianjie ul{
    float:left;
    width:320px;
    height:250px;
}
.jianjie li{
    display:block;
    padding-bottom:20px;
    border-right:1px solid #787b83;
    color:#787b83;
}
.jianjie li.none-b{
    border-right:0px;
}
.jianjie .icon-img{
    height:140px;
    width:320px;
}
.shijie{
    background:url(../img/3.png) no-repeat center;
}
.qi{
    background:url(../img/2.png) no-repeat center;
}
.hua{
    background:url(../img/1.png) no-repeat center;
}
.fang{
    background:url(../img/4.png) no-repeat center;
}
.world {
    margin:0 auto;
    height:360px;
    text-align:center;
    min-width:1280px;
    background:#ededec;
    font-size:60px;
    color:#867e7a;
}
.shu {
    margin:0 auto;
    width:400px;
    height:200px;
    background:url(../img/shu.png) no-repeat center;
}
.search{
    min-width:1280px;
    height:340px;
    background:url(../img/ditu.png) no-repeat center;
    background-size:cover;
    background-attachment:fixed;
    text-align:center;
}
.search p{
    color:#fff;
    opacity:.8;
}
.search p.s-title{
    padding-top:50px;
    font-size:26px;
}
.xhx{
    margin-top:5px;
    margin-bottom:15px;
    width:42px;
    height:2px;
    display:inline-block;
    background:#fff;
}
.search>ul{
    margin-top:30px;
}
.search select{
    width:237px;
    height:38px;
    border: none;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.search select option{
    margin:28px;
    background:#e3e3e4;
    border:none;
    color:black;
    
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
}